rke2-ansible

# Zarf
packages/*/helm*/**
zarf-package-*.*

.tmp

# Web Extension
node_modules
.output
.wxt
dist
build

# Docker Compose
.env

# Dify
**/bifrost/models
**/dify*/**/packager/
*.difypkg
# **/dify-airgap/plugins/
