# Docker Environment
#
# Please copy this file to .env and fill in your values.

# Common
SECRET_KEY=your-secret-key-change-in-production

# App
APP_WEB_PORT=80
APP_WEB_CONSOLE_PORT=3000

# Postgres
DB_USERNAME=postgres
DB_PASSWORD=difyaipgdb
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=dify

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=difyairedisdb

# Meilisearch
MEILISEARCH_HOST=http://weaviate:7070

# Weaviate
WEAVIATE_HOST=http://weaviate:8080

# Qdrant
QDRANT_HOST=http://qdrant:6333